.env
.env.*
db.sqlite3
*.sqlite3
media/
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
*.egg-info/
*.egg
*.log
*.pot
*.py[cod]
*.so
*.DS_Store
*.swp
*.bak
*.tmp
*.old
*.orig
*.coverage
htmlcov/
*.mo
venv/
migrations/
!*/migrations/__init__.py
